# custome rules va  rule do ai sinh ra sau nay
rule: Terminal shell in container
desc: A shell was used as the entrypoint for a container instance
condition: >
  spawned_process and container
  and shell_procs_entrypoint
output: "Shell spawned in a container (user=%user.name container_id=%container.id container_name=%container.name shell=%proc.name parent=%proc.pname cmdline=%proc.cmdline)"
priority: NOTICE
tags: [container, mitre_execution]
