# Custom rules for Kerneural
- rule: Terminal shell in container
  desc: A shell was used as the entrypoint for a container instance
  condition: >
    spawned_process and container
    and proc.name in (shell_binaries)
  output: "Shell spawned in a container (user=%user.name container_id=%container.id container_name=%container.name shell=%proc.name parent=%proc.pname cmdline=%proc.cmdline)"
  priority: NOTICE
  tags: [container, mitre_execution]
